[".config/bat/themes/Catppuccin Mocha.tmTheme"]
    type = "file"
    url = "https://github.com/catppuccin/bat/raw/main/themes/Catppuccin%20Mocha.tmTheme"
    refreshPeriod = "168h"

[".config/zellij/catppuccin.kdl"]
	type = "file"
	url = "https://raw.githubusercontent.com/catppuccin/zellij/refs/heads/main/catppuccin.kdl"
	refreshPeriod = "168h"

[".config/atuin/themes/catppuccin-mocha-mauve.toml"]
	type = "file"
	url = "https://raw.githubusercontent.com/catppuccin/atuin/refs/heads/main/themes/mocha/catppuccin-mocha-mauve.toml"
	refreshPeriod = "168h"

[".config/lsd/colors.yaml"]
	type = "file"
	url = "https://raw.githubusercontent.com/catppuccin/lsd/refs/heads/main/themes/catppuccin-mocha/colors.yaml"
	refreshPeriod = "168h"

{{ if eq .chezmoi.os "linux" -}}
[".local/share/fonts/JetBrainsMono"]
    type = "archive"
    url = "https://github.com/ryanoasis/nerd-fonts/releases/latest/download/JetBrainsMono.zip"
    refreshPeriod = "168h"
{{ end -}}

[".opencode/skills/obsidian-skills"]
    type = "archive"
    url = "https://github.com/kepano/obsidian-skills/archive/refs/heads/main.zip"
    stripComponents = 2
    include = ["*/", "*/**"]
    refreshPeriod = "168h"

[".opencode/skills/slidev"]
    type = "archive"
    url = "https://github.com/slidevjs/slidev/archive/refs/heads/main.zip"
    stripComponents = 3
    include = ["*/skills/slidev/**"]
    refreshPeriod = "168h"

[".opencode/skills/humanizer"]
    type = "archive"
    url = "https://github.com/trailofbits/skills-curated/archive/refs/heads/main.zip"
    stripComponents = 5
    include = ["*/plugins/humanizer/skills/humanizer/**"]
    refreshPeriod = "168h"

[".config/zsh/plugins/zsh-syntax-highlighting"]
    type = "archive"
    url = "https://github.com/zsh-users/zsh-syntax-highlighting/archive/refs/tags/0.8.0.tar.gz"
    exact = true
    stripComponents = 1

[".config/zsh/plugins/zsh-autosuggestions"]
    type = "archive"
    url = "https://github.com/zsh-users/zsh-autosuggestions/archive/refs/tags/v0.7.1.zip"
    exact = true
    stripComponents = 1

[".config/zsh/plugins/zsh-autocomplete"]
    type = "archive"
    url = "https://github.com/marlonrichert/zsh-autocomplete/archive/refs/tags/25.03.19.zip"
    exact = true
    stripComponents = 1

[".config/zsh/themes/catppuccin_mocha-zsh-syntax-highlighting.zsh"]
	type = "file"
	url = "https://raw.githubusercontent.com/catppuccin/zsh-syntax-highlighting/refs/heads/main/themes/catppuccin_mocha-zsh-syntax-highlighting.zsh"
    refreshPeriod = "168h"
