export PATH=$HOME/bin:$HOME/.local/bin:/usr/local/bin:$PATH
{{- if eq .distro "macos" }}
export PATH=$PATH:/opt/homebrew/bin
{{- end }}

autoload -Uz compinit
compinit

source $HOME/.dotbins/shell/zsh.sh
source ~/.config/zsh/plugins/zsh-autocomplete/zsh-autocomplete.plugin.zsh
source ~/.config/zsh/plugins/zsh-autosuggestions/zsh-autosuggestions.plugin.zsh
source ~/.config/zsh/plugins/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh
source ~/.config/zsh/themes/catppuccin_mocha-zsh-syntax-highlighting.zsh

export TERM=xterm-256color
export OPENCODE_EXPERIMENTAL_OXFMT=true
export DISABLE_TELEMETRY=1
export PATH="$HOME/.bun/bin:$PATH"
export PORTLESS_TLD=test
