[tools]
"ubi:SpecterOps/bloodhound-cli" = "latest"
"ubi:epi052/feroxbuster" = "latest"
"aqua:projectdiscovery/nuclei" = "latest"
semgrep = "latest"
trivy = "latest"
trufflehog = "latest"

[hooks]
postinstall = """
uv tool install pacu
uv tool install impacket
uv tool install harlequin
"""
