[tools]
bun = "latest"
go = "latest"
uv = 'latest'
dust = "latest"
"npm:defuddle" = "latest"
"aqua:sharkdp/fd" = "latest"
"aqua:BurntSushi/ripgrep" = "latest"
"aqua:sharkdp/bat" = "latest"
"aqua:junegunn/fzf" = "latest"
"aqua:jesseduffield/lazygit" = "latest"
"aqua:ajeetdsouza/zoxide" = "latest"
"aqua:jqlang/jq" = "latest"
"github:MilesCranmer/rip2" = "latest"
"aqua:chmln/sd" = "latest"
"aqua:topgrade-rs/topgrade" = "latest"
"aqua:mikefarah/yq" = "latest"
"aqua:starship/starship" = "latest"
"aqua:atuinsh/atuin" = "latest"
"github:darakian/ddh" = "latest"
"aqua:lsd-rs/lsd" = "latest"
"aqua:ouch-org/ouch" = "latest"
"github:Nukesor/pueue" = "latest"
"aqua:lotabout/skim" = "latest"
"aqua:dbrgn/tealdeer" = "latest"
"aqua:zellij-org/zellij" = "latest"
"aqua:ast-grep/ast-grep" = "latest"
"aqua:cargo-bins/cargo-binstall" = "latest"
"aqua:dandavison/delta" = "latest"
"github:docker/compose" = "latest"
{{ if eq (index . "chezmoi_env" | default "common") "dev" -}}
gh = "latest"
zizmor = "latest"
yamlfmt = "latest"
task = "latest"
hyperfine = "latest"
opencode = "latest"
ruff = "latest"
ty = "latest"
fnox = "latest"
pitchfork = "latest"
marksman = "latest"
oxfmt = "latest"
golangci-lint = "v2.11.4"
"github:colbymchenry/codegraph" = "latest"
{{ end -}}
{{ if eq (index . "chezmoi_env" | default "common") "security" -}}
"aqua:projectdiscovery/nuclei" = "latest"
semgrep = "latest"
trivy = "latest"
trufflehog = "latest"
opencode = "latest"
ruby = "3"
just = "latest"
"github:praetorian-inc/augustus" = "latest"
"github:projectdiscovery/naabu" = "latest"
"github:praetorian-inc/nerva" = "latest"
"github:projectdiscovery/urlfinder" = "latest"
"pipx:pacu" = "latest"
"pipx:harlequin" = "latest"
"pipx:pip-audit" = "latest"
"github:SpecterOps/bloodhound-cli" = "latest"
"github:epi052/feroxbuster" = "latest"
"github:praetorian-inc/titus" = "latest"
"github:praetorian-inc/trajan" = "latest"
"github:praetorian-inc/brutus" = "latest"
"github:praetorian-inc/julius" = "latest"
"aqua:praetorian-inc/noseyparker" = "latest"
"aqua:projectdiscovery/subfinder" = "latest"
"aqua:projectdiscovery/katana" = "latest"
"aqua:rtk-ai/rtk" = "latest"

{{ end }}
[env]
BAT_THEME = "Catppuccin Mocha"
RIP_GRAVEYARD = "{{ env "HOME" }}/.local/share/Trash"
FZF_DEFAULT_OPTS = "--color=bg+:#313244,bg:#1E1E2E,spinner:#F5E0DC,hl:#F38BA8 --color=fg:#CDD6F4,header:#F38BA8,info:#CBA6F7,pointer:#F5E0DC --color=marker:#B4BEFE,fg+:#CDD6F4,prompt:#CBA6F7,hl+:#F38BA8 --color=selected-bg:#45475A --color=border:#313244,label:#CDD6F4"
_.path = "~/.cargo/bin"

[settings]
experimental = true

{{ if eq .distro "omarchy" -}}
[bootstrap.services.tailscaled]
state = "running"
enabled = true

{{ end -}}
