[tools]
bun = "latest"
go = "latest"
uv = 'latest'
dust = "latest"
"npm:defuddle" = "latest"
{{ if eq (index . "chezmoi_env" | default "common") "dev" -}}
gh = "latest"
zizmor = "latest"
yamlfmt = "latest"
task = "latest"
hyperfine = "latest"
opencode = "latest"
ruff = "latest"
ty = "latest"
marksman = "latest"
oxfmt = "latest"
golangci-lint = "v2.11.4"
{{ end -}}
{{ if eq (index . "chezmoi_env" | default "common") "security" -}}
"aqua:projectdiscovery/nuclei" = "latest"
semgrep = "latest"
trivy = "latest"
trufflehog = "latest"
opencode = "latest"
pnpm = "latest"
ruby = "3"
just = "latest"


[hooks]
postinstall = """
uv tool install pacu
uv tool install impacket
uv tool install harlequin
uv tool install gsutil
go install github.com/praetorian-inc/augustus/cmd/augustus@latest
go install github.com/praetorian-inc/nerva/cmd/nerva@latest
go install github.com/projectdiscovery/naabu/v2/cmd/naabu@latest
go install -v github.com/projectdiscovery/urlfinder/cmd/urlfinder@latest
"""
{{ end }}
[settings]
experimental = true
