[tools]
bun = "latest"
go = "latest"
uv = 'latest'
dust = "latest"
"npm:defuddle" = "latest"
{{ if eq (index . "chezmoi_env" | default "common") "dev" -}}
gh = "latest"
zizmor = "latest"
yamlfmt = "latest"
task = "latest"
hyperfine = "latest"
opencode = "latest"
ruff = "latest"
ty = "latest"
marksman = "latest"
oxfmt = "latest"
golangci-lint = "v2.11.4"
{{ end -}}
{{ if eq (index . "chezmoi_env" | default "common") "security" -}}
"aqua:projectdiscovery/nuclei" = "latest"
semgrep = "latest"
trivy = "latest"
trufflehog = "latest"
opencode = "latest"

[hooks]
postinstall = """
uv tool install pacu
uv tool install impacket
uv tool install harlequin
uv tool install gsutil
"""
{{ end }}
[settings]
experimental = true
